<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BFT Detección</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/blog-post.css" rel="stylesheet">
  <script src="static/p5.min.js"></script>
  <script src="static/p5.dom.min.js"></script>
  <script src="static/ml5.min.js" type="text/javascript"></script>
</head>
<style>
  .myDiv {
    display:flex;
    justify-content: space-around;

  }
  </style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!--
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/summarize">Summarize & Video
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="/nosummarize">Generate Video</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/videos">Videos</a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          



        </ul>
      </div>
       -->
    </div>
  </nav>

  

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4">BFT Detección</h1>

        <!-- Author
        <p class="lead">
          by
          <a href="#">Start Bootstrap</a>
        </p> -->

        <hr>

        <!-- Date/Time -->
        <p>April 2021</p>

        <hr>


        <!-- Post Content -->

        <div class="card my-4">
         <!-- {% block content %}{% endblock %} -->
         
         <p class="lead">
          Esta herramienta para identificar el prouducto usando webcam
          <ul>
            <li>acelga</li>
            <li>apio</li>
            <li>cilantro</li>
            <li>espinaca</li>
            <li>fresa</li>
            <li>lechuga bola</li>
          </ul>
        </p>
        <div class=myDiv>



          <script src="static/sketch.js"></script>
        </div>
        
        

        </div>
        <hr>
        <!-- Comments Form -->




    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
